h1 {
    color: blue;
    text-align: center;
}
p {
    color: yellow;
    margin: 30px;
    padding: 20px;
    background-color: green;
    
}
div {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;

    border: 5px solid blue;
}
